/*********************************
**	Animated Lower Thirds v1.6	**
**	Author: NoeAL				**
*********************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
	margin: 0;
	line-height: 0;
	font-family: 'Open Sans', sans-serif;
	line-height: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/*********************************
**			PREVIEW				**
*********************************/

.preview {
	width: 1920px;
	height: 1080px;
	transform: scale(0.1656);
	left: -252%;
	top: -252%;
}

/*******************************/

.lower-thirds {
	display: flex;
	justify-content: center;
}

/****************************
** Style 1 Animation: Left **
****************************/
@keyframes animation-left-logo {
	0% {
		opacity: 0;
		right: -30%;
	}
	55% {
		opacity: 0;
		right: -30%;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}
@keyframes animation-left-slash {
	0% {
		opacity: 0;
		transform: translate3d(10em, 0, 0);
	}
	23% {
		opacity: 0;
		transform: translate3d(10em, 0, 0);
	}
	50% {
		opacity: 1;
	}
	75% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes animation-left-background {
	0% {
		width: 0;
		padding-left: 0;
		padding-right: 0;
		border: 0 solid #00000000;
	}
	30% {
		width: 0;
		padding-left: 0;
		padding-right: 0;
		border: 0 solid #00000000;
	}	
	100% {
		width: calc(100% + 2em);
		/* width: 100% */
	}
}
@keyframes animation-left-text-1 {
	0% {
		left: -102%;
	}
	45% {
		left: -102%;
	}
	100% {
		left: 0;
	}
}
@keyframes animation-left-text-2 {
	0% {
		left: -102%;
	}
	50% {
		left: -102%;
	}
	100% {
		left: 0;
	}
}

/*****************************
** Style 1 Animation: Right **
*****************************/
@keyframes animation-right-logo {
	0% {
		opacity: 0;
		left: -30%;
	}
	55% {
		opacity: 0;
		left: -30%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}
@keyframes animation-right-slash {
	0% {
		opacity: 0;
		transform: translate3d(-6em, 0, 0);
	}
	25% {
		opacity: 0;
		transform: translate3d(-6em, 0, 0);
	}
	50% {
		opacity: 1;
	}
	75% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes animation-right-background {
	0% {
		width: 0;
		padding-left: 0;
		padding-right: 0;
		border: 0 solid #00000000;
	}
	30% {
		width: 0;
		padding-left: 0;
		padding-right: 0;
		border: 0 solid #00000000;
	}	
	100% {
		width: calc(100% + 2em);
	}
}
@keyframes animation-right-text-1 {
	0% {
		right: -102%;
	}
	45% {
		right: -102%;
	}
	100% {
		right: 0;
	}
}
@keyframes animation-right-text-2 {
	0% {
		right: -102%;
	}
	50% {
		right: -102%;
	}
	100% {
		right: 0;
	}
}

/******************************
** Style 1 Animation: Cented **
******************************/
@keyframes animation-center-logo {
	0% {
		opacity: 0;
		right: -30%;
	}
	55% {
		opacity: 0;
		right: -30%;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}
@keyframes animation-center-slash {
	0% {
		opacity: 0;
		transform: translate3d(-6em, 0, 0);
	}
	25% {
		opacity: 0;
		transform: translate3d(-6em, 0, 0);
	}
	50% {
		opacity: 1;
	}
	75% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes animation-center-text-1 {
	0% {
		left: -102%;
	}
	50% {
		left: -102%;
	}
	60% {
	}	  
	100% {
		left: 0;
	}
}
@keyframes animation-center-text-2 {
	0% {
		right: -102%;
	}
	50% {
		right: -102%;
	}
	60% {
	}
	100% {
		right: 0;
	}
}

/*****************************
** Style 3 Animation: Left/Right  **
*****************************/
@keyframes animation-style3-left-logo {
	0% {
		transform: scale(0) rotateZ(90deg);
	}
	40% {
		transform: scale(1) rotateZ(0deg);
	}
	100% {
		transform: scale(1) rotateZ(0deg);
	}
}
@keyframes animation-style3-right-logo {
	0% {
		transform: scale(0) rotateZ(-90deg);
	}
	40% {
		transform: scale(1) rotateZ(0deg);
	}
	100% {
		transform: scale(1) rotateZ(0deg);
	}
}
@keyframes animation-style3-background {
	0% {
		width: 0;
		border: 0 solid #00000000;
	}
	30% {
		border: 0 solid #00000000;
	}
	40% {
		width: 0;
	}	
	100% {
		width: calc(100% - 1em);
	}
}
@keyframes animation-style3-text-1 {
	0% {
		bottom: -110%;
	}
	70% {
		bottom: -110%;
	}
	100% {
		bottom: 0;
	}
}
@keyframes animation-style3-text-2 {
	0% {
		top: -110%;
	}
	70% {
		top: -110%;
	}
	100% {
		top: 0;
	}
}

/*****************************
** Style 4 Animations  **
*****************************/

@keyframes animation-style4-background {
	from {
		opacity: 0;
	}
}

@keyframes animation-style4-background-out {
	to {
		opacity: 0;
	}
}

@keyframes animation-style4-text-1 {
	0% {
		bottom: -110%;
	}
	70% {
		bottom: -110%;
	}
	100% {
		bottom: 0;
	}
}

@keyframes animation-style4-text-2 {
	0% {
		top: -110%;
	}
	70% {
		top: -110%;
	}
	100% {
		top: 0;
	}
}

/* Style 4 add animations */

/* Set cubic bezier for all elements */

.animation-in.style-4 > .text-content {
	animation-timing-function: cubic-bezier(1,-0.01,.45,1.01);
}

/* IN animations */

.animation-in.style-4 > .text-content > div:first-child div {
	animation-name: animation-style4-text-1;
}
.animation-in.style-4 > .text-content > div:nth-child(2) div {
	animation-name: animation-style4-text-2;
	animation-delay: 200ms;
}

/* OUT animations */
.animation-out.style-4 > .text-content > div:first-child div {
	animation-name: animation-style4-text-1;
	animation-delay: 200ms;
}
.animation-out.style-4 > .text-content > div:nth-child(2) div {
	animation-name: animation-style4-text-2;
}

/*Logo animation*/
.animation-in > div:first-child img {
	animation: cubic-bezier(0.19, 0.76, 0.32, 1) 1 normal both;
}
.animation-out > div:first-child img {
	animation: cubic-bezier(0.19, 0.76, 0.32, 1) 1 reverse both;
}
/*left*/
.animation-in.style-1.left > div:first-child img,
.animation-out.style-1.left > div:first-child img {
	animation-name: animation-left-logo;
}
/*right*/
.animation-in.style-1.right > div:first-child img,
.animation-out.style-1.right > div:first-child img {
	animation-name: animation-right-logo;
}
/*center*/
/* .animation-in.center > div:first-child img,
.animation-out.center > div:first-child img {
	animation-name: animation-center-logo;
} */

/*Graph1 and graph2 animation*/
.animation-in > div:nth-child(1),
.animation-in > div:nth-child(2),
.animation-in > div:nth-child(4) {
	animation: cubic-bezier(0.19, 0.76, 0.32, 1) 1 normal both;
}	
.animation-out > div:nth-child(1),
.animation-out > div:nth-child(2),
.animation-out > div:nth-child(4) {
	animation: cubic-bezier(0.19, 0.76, 0.32, 1) 1 reverse both;
}
/*left*/
.animation-in.style-1.left > div:nth-child(2),
.animation-out.style-1.left > div:nth-child(2) {
	animation-name: animation-left-slash;
}
/*right*/
.animation-in.style-1.right > div:nth-child(2),
.animation-out.style-1.right > div:nth-child(2) {
	animation-name: animation-right-slash;
}
/*center*/
/* .animation-in.center > div:nth-child(2),
.animation-out.center > div:nth-child(2) {
	animation-name: animation-center-slash;
} */

/*Graph2 animation*/
.animation-in.style-1.left > div:nth-child(4),
.animation-out.style-1.left > div:nth-child(4) {
	animation-name: animation-left-background;
}
.animation-in.style-1.right > div:nth-child(4),
.animation-out.style-1.right > div:nth-child(4) {
	animation-name: animation-right-background;
}

/*Texts animation*/
.animation-in > .text-content > div:first-child div,
.animation-in > .text-content > div:nth-child(2) div {
	animation: cubic-bezier(0.19, 0.76, 0.32, 1) 1 normal both;
}
.animation-out > .text-content > div:first-child div,
.animation-out > .text-content > div:nth-child(2) div {
	animation: cubic-bezier(0.19, 0.76, 0.32, 1) 1 reverse both;
}
/*left*/
.animation-in.left > .text-content > div:first-child div,
.animation-out.left > .text-content > div:first-child div {
	animation-name: animation-left-text-1;
}
.animation-in.left > .text-content > div:nth-child(2) div,
.animation-out.left > .text-content > div:nth-child(2) div {
	animation-name: animation-left-text-2;
}
/*right*/
.animation-in.right > .text-content > div:first-child div,
.animation-out.right > .text-content > div:first-child div {
	animation-name: animation-right-text-1;
}
.animation-in.right .text-content > div:nth-child(2) div,
.animation-out.right .text-content > div:nth-child(2) div {
	animation-name: animation-right-text-2;
}
/*center*/
.animation-in.center > .text-content > div:first-child div,
.animation-out.center > .text-content > div:first-child div {
	animation-name: animation-center-text-1;
}
.animation-in.center .text-content > div:nth-child(2) div,
.animation-out.center .text-content > div:nth-child(2) div {
	animation-name: animation-center-text-2;
}

.alt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: left 0.1s, bottom 0.1s, right 0.1s;
}
.alt > .text-content {
    order: 2;
    display: flex;
    flex-direction: column;
}
.alt > .text-content > .text-mask {
    overflow: hidden;
    transition: height 0.1s;
}

.hide-anim {
	display: none;
}

.right > .text-content > .text-mask {
	text-align: right;
}
.center > .text-content > .text-mask {
	text-align: center;
}

/*Name*/
.text-content > div:first-child div {
    position: relative;
    display: inline-flex;
    transition: font-size 0.1s;
    padding: 0 0.2rem;
}

/*Info*/
.text-content > div:nth-child(2) div {
    position: relative;
    display: inline-flex;
    transition: font-size 0.1s;
    padding: 0 0.2rem;
}

/*Logo*/
.logo{
	order: 0;
	overflow: hidden;
	transition: margin 0.1s;
	min-width: fit-content;
}
.logo img {
    display: flex;
	position: relative;
	filter: blur(0);
	-webkit-filter: blur(0);
	transition: max-height 0.1s;
}
.no-logo > img {
	width: 0;
	height: 0;
}
.no-logo {
	margin: 0!important;
}
.left > .logo {
	margin-right: 0.8em;
}
.right > .logo {
	margin-left: 0.8em;
}


/*****Style 1*****/

.style-1.left > .text-content{
	margin-left: 1.2em;
}
.style-1.right > .text-content{
	margin-right: 1.2em;
}

.style-1 > .graph-1 {
    order: 1;
	position: relative;
	min-width: 0.3em;
    height: 3.5em;
}

.style-1 > .graph-2 {
	order: 3;
	z-index: -1;
	position: absolute;
	width: 100%;
    height: calc(100% + 2em);
    margin: 0 -1em;
	padding: 0 1em;
	
	box-sizing: border-box;
}

.style-1.left > .graph-2 {
	left: 0;
	margin-right: -1.8em;
	padding-right: 1.8em;
} 
.style-1.right > .graph-2 {
	right: 0;
	margin-left: -1.8em;
	padding-left: 1.8em;
}


/*****Style 2*****/

.style-2 > div.text-content > div:first-child div {
	padding: 0.5rem 1.3rem;
}
.style-2 > div.text-content > div:first-child div::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;	
}

.style-2.center > div.text-content > div:nth-child(2) {
	width: fit-content;
	margin: 0 auto;
}
.style-2 > div.text-content > div:nth-child(2) div {
	padding: 0.5rem 1.3rem;
}
.style-2 > div.text-content > div:nth-child(2) div::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
}

.style-2 > .graph-1,
.style-2 > .graph-2 {
	display: none;
}


/*****Style 3*****/

.style-3 > .logo img{
	max-height: 4.5em;
	max-width: 4.5em;
}

.style-3 > .logo {
    z-index: 1;
    margin: 0;
}
.style-3 > .logo.no-logo {
	min-width: 5.5em;
	min-height: 5.5em;
}

.style-3 > .graph-1 {
	border-radius: 50%;
	min-width: 5.5em;
	min-height: 5.5em;
	position: relative;
	z-index: 0;
	box-sizing: border-box;
}
.style-3.left > .graph-1 {
	margin-left: -5em;
}
.style-3.left > .logo.no-logo + .graph-1 {
	margin-left: -6em;
}
.style-3.right > .graph-1 {
	margin-right: -5em;
}
.style-3.right > .logo.no-logo + .graph-1 {
	margin-right: -6em;
}

.style-3 > .graph-2 {
	order: 3;
	z-index: -1;
	position: absolute;
    box-sizing: border-box;
}
.style-3 > .graph-2 {
	height: calc(100% - 0.5em);
}
.style-3.left > .graph-2 {
	left: 3.3em;
	border-left: 0;
}

.style-3.right > .graph-2 {
	right: 3.3em;
	border-right: 0;
}

.style-3.left > .text-content {
	/* margin-right: 0.5em; */
	/* margin: 1em 2.5em 1em 0; FOR MULTI LINES */
	left: 0.75em;
	position: relative;
}
.style-3.right > .text-content {
	/* margin-left: 0.5em; */
		/* margin: 1em 0 1em 2.5em; FOR MULTI LINES */
	right: 0.75em;
	position: relative;
}

/*Graph2 animation*/
.animation-in.style-3.left > div:nth-child(4),
.animation-out.style-3.left > div:nth-child(4) {
	animation-name: animation-style3-background;
}
.animation-in.style-3.right > div:nth-child(4),
.animation-out.style-3.right > div:nth-child(4) {
	animation-name: animation-style3-background;
}
/*left*/
.animation-in.style-3.left > div:nth-child(1), .animation-in.style-3.left > div:nth-child(2),
.animation-out.style-3.left > div:nth-child(1), .animation-out.style-3.left > div:nth-child(2) {
	animation-name: animation-style3-left-logo;
}
/*right*/
.animation-in.style-3.right > div:nth-child(1), .animation-in.style-3.right > div:nth-child(2),
.animation-out.style-3.right > div:nth-child(1), .animation-out.style-3.right > div:nth-child(2) {
	animation-name: animation-style3-right-logo;
}

/*left*/
.animation-in.style-3.left > .text-content > div:first-child div,
.animation-out.style-3.left > .text-content > div:first-child div,
.animation-in.style-3.right > .text-content > div:first-child div,
.animation-out.style-3.right > .text-content > div:first-child div {
	animation-name: animation-style3-text-1;
}
.animation-in.style-3.left > .text-content > div:nth-child(2) div,
.animation-out.style-3.left > .text-content > div:nth-child(2) div,
.animation-in.style-3.right > .text-content > div:nth-child(2) div,
.animation-out.style-3.right > .text-content > div:nth-child(2) div {
	animation-name: animation-style3-text-2;
}

/******Style 4*******/
.style-4 > div.text-content > div:first-child div {
	padding: 0.5rem 1.3rem;
}
.style-4 > div.text-content > div:first-child div::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.style-4 > div.text-content > div:nth-child(2) div {
	padding: 0.5rem 1.3rem;
}
.style-4 > div.text-content > div:nth-child(2) div::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.style-4 > .graph-1,
.style-4 > .graph-2 {
	display: none;
}

/*********************************/


/*Uncomment to avaible multiple lines*/
/* .logo {
    align-self: start;
}
.style-1 > .graph-1 {
	align-self: start;
}
.alt > div.text-content > div:nth-child(2) div {
    line-height: 1.25em;
}
.alt > div.text-content > div:nth-child(2) {
	height: auto!important;
}
.alt.style-1.left > .text-content {
	margin-right: 1em;
} 
.alt.style-1.right > .text-content {
	margin-left: 1em;
} */


/*Uncomment to invert vertical position*/
/* #lower-third-0 {
	top: var(--alt-0-margin-v);
	bottom: unset!important;
}
#lower-third-1 {
	top: var(--alt-1-margin-v);
	bottom: unset!important;
}
#lower-third-2 {
	top: var(--alt-2-margin-v);
	bottom: unset!important;
}
#lower-third-3 {
	top: var(--alt-3-margin-v);
	bottom: unset!important;
} */

/*FIX HEIGHT LINE ISSUES AND MULTIPLE LINES*/
/* .alt > div.text-content > div:first-child, .alt > div.text-content > div:nth-child(2) {height: auto!important;}
.alt > div.text-content > div:first-child div, .alt > div.text-content > div:nth-child(2) div {line-height: 1.25em;} */


/***Con esto no puedo quitar el fondo***/
/* .style-3 > .logo {
	border-radius: 50%;
	min-width: 5.5em;
	min-height: 5.5em;
	margin: 0;
	justify-content: center;
	align-items: center;
	display: flex;
}
#lower-third-0.style-3 > .logo {
    background: var(--alt-0-style-color-1);
	box-shadow: var(--alt-0-shadows);
	opacity: var(--alt-0-background);
} */
/*repetir */

/* .style-3 > .graph-1 {
	display: none;
} */
/******/


/*Uncomment to full with background in the style 1*/
/* .style-1.alt {
	width: 105%;
}
.style-1.left {
	justify-content: left;
}
.style-1.right {
	justify-content: right;
}
.style-1 > .graph-2 {
	margin-left: -4em;
	margin-right: -4em;
} */