/*********************************
**  Animated Lower Thirds v1.2  **
**  Author: NoeAL               **
*********************************/

*:focus {outline:none !important}

/*OBS*/
body.browser-source.lower-thirds{
  overflow:hidden
}

.panel {
	background: var(--obs-background);
	color: var(--main-color);
	font:normal 12px -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	max-width:100%;
  /*transform: scale(var(--interface-size));
  transform-origin: top;*/
	margin: 8px 3px 40px;
  user-select: none;
}

.static-panel-top {
  width: 370px;
  /*max-width: 370px;
  min-width: 360px;*/
  /*margin: 5px auto;*/
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.panel::-webkit-scrollbar {
	width: 16px;
}

.panel::-webkit-scrollbar-thumb {
	border-radius: 16px;
	border: solid 3px #3a393a;
	background-color: #4c4c4c;
}

.panel-bottom {
  height: 9px;
  padding-bottom: 10px;
}

/*Main settings panel*/
#alt-main-config-content{
  box-shadow: inset 0px 0px 5px 0px rgb(0 0 0 / 20%);
  padding: 5px;
  margin-bottom: 15px;
  transition: background 0.5s;
}
#alt-main-config-content.active {
  box-shadow: inset 0px 0px 2px 0px rgba(0,136,255,0.5);
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #2196f340;
  background: linear-gradient(-45deg, rgba(33,150,243,0.1) 0%, rgba(66,149,227,0) 25%, rgba(33,150,243,0.1) 50%, rgba(33,150,243,0) 75%, rgba(33,150,243,0.1) 100%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
#times-configuration #time-options {
  display: flex;
}
.column-33 + .column-33 {
  margin-left: 4px 
}
#times-configuration #theme-options #theme {
  width: 20%;
}
/*********************/

#alt-1-config-content,
#alt-2-config-content,
#alt-3-config-content,
#alt-4-config-content {
  /*background: var(--obs-background);*/
  box-shadow: inset 0px 0px 5px 0px rgb(0 0 0 / 20%);
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 3px;
  transition: background 0.5s;
}
#alt-4-config-content{
  /*margin-bottom: 0px;*/
}

#alt-1-config-content.active,
#alt-2-config-content.active,
#alt-3-config-content.active,
#alt-4-config-content.active {
  box-shadow: inset 0px 0px 2px 0px rgba(0,136,255,0.5);
  padding: 4px;
  border-radius: 3px;
  border: 1px solid #2196f340;
  background: linear-gradient(-45deg, rgba(33,150,243,0.1) 0%, rgba(66,149,227,0) 25%, rgba(33,150,243,0.1) 50%, rgba(33,150,243,0) 75%, rgba(33,150,243,0.1) 100%);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
}
#alt-1-config-content.inactive,
#alt-2-config-content.inactive,
#alt-3-config-content.inactive,
#alt-4-config-content.inactive {
  box-shadow: inset 0px 0px 2px 0px rgba(255,0,0,0.5);
  padding: 4px;
  border-radius: 3px;  
  border: 1px solid #f3215b40;
  background: linear-gradient(-45deg, rgba(242,34,62,0.1) 0%, rgba(242,34,62,0) 25%, rgba(242,34,62,0.1) 50%, rgba(242,34,62,0) 75%, rgba(242,34,62,0.1) 100%);
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/***********************/
.accordion {
  cursor: pointer;
  width: calc(100% - 50px);
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
.accordion:after {
  content: '\002B';
  float: right;
  font-weight: bold;
  margin-left: 5px;
  font-size: 20px;
  /*line-height: 0.6em;*/
  line-height: 10px;
  margin: 1px 0 2px;
}
.accordion.active:after {
  content: "\2212";
}
.hidable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#alt-1-config-content > .accordion > i.fas,
#alt-2-config-content > .accordion > i.fas,
#alt-3-config-content > .accordion > i.fas,
#alt-4-config-content > .accordion > i.fas {
    height: 10px;
    overflow: hidden;
}
/***********************/
ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 17px;
}
li div {
  visibility: hidden;
}
li {
  display: block;
  float: left;
  border: 1px solid #1f1e1f;
  background-color: #1f1e1f;
  margin: 0 0 0 0.35em;
  cursor: pointer;
  width: 22px;
  height: 7px;
  border-radius: 3px;
}
.stored {
  background: #666;
  border: 1px solid #666;
}
.active-slot {
  background: var(--main-color);
  border: 1px solid var(--main-color);
}

#alt-1-name-color, #alt-1-info-color,
#alt-2-name-color, #alt-2-info-color,
#alt-3-name-color, #alt-3-info-color,
#alt-4-name-color, #alt-4-info-color {
  width: 50px;
  height: 14px;
  border: none;
  border-radius: var(--element-radius);
  padding: 3px;
  float: right;
  font-size: 9px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  margin: 4px;
  /*
  color: #ffffff;
  text-shadow: 0px 0px 1px #000000, 1px 1px 2px #000000, -1px -1px 2px #000000, -1px 1px 2px #000000, 1px -1px 2px #000000;
    */
}
#alt-1-name-color.jscolor-active, #alt-1-info-color.jscolor-active,
#alt-2-name-color.jscolor-active, #alt-2-info-color.jscolor-active,
#alt-3-name-color.jscolor-active, #alt-3-info-color.jscolor-active,
#alt-4-name-color.jscolor-active, #alt-4-info-color.jscolor-active {
  cursor: text;
}
#alt-1-style-color-1, #alt-1-style-color-2,
#alt-2-style-color-1, #alt-2-style-color-2,
#alt-3-style-color-1, #alt-3-style-color-2,
#alt-4-style-color-1, #alt-4-style-color-2 {
  width: 50px;
  height: 14px;
  border: none;
  border-radius: var(--element-radius);
  padding: 3px;
  font-size: 9px;
  transition: 0.1s;
  cursor: pointer;
  text-align: center;
  margin: 4px;
}

.clean {
    margin: -1px 0 -2px 4px;
    float: left;
    line-height: 0;
    font-size: 12px;
    cursor: pointer;
}
.delete {
  animation: blinker-red 0.25s linear infinite;
}

@keyframes blinker-red {  
  0% { background-color: #1f1e1f; border: 1px solid var(--obs-field-background); }
  50% { background-color: red; border: 1px solid var(--obs-field-background); }
}
/*
.move-up {
    float: left;
    font-size: 16px;
    line-height: 0px;
    margin: -1px 0 -9px 12px;
    cursor: pointer;
}
.move-down {
    float: left;
    font-size: 16px;
    line-height: 0px;
    margin: -9px 0 -2px 2px;
    cursor: pointer;
}

.move-up.off,
.move-down.off {
  color: #666;
  cursor: default;
}
*/
.time-bar{
  float: right;
}
#alt-1-active-time, #alt-1-inactive-time,
#alt-2-active-time, #alt-2-inactive-time,
#alt-3-active-time, #alt-3-inactive-time,
#alt-4-active-time, #alt-4-inactive-time {
  float: left;
  font-size: 7px;
  padding: 1px 3px;
  line-height: 1em;
  margin: 0 0 0 4px;
  width: 20px;
  height: 7px;
  background: #333233;
  border-radius: 3px;
  text-align: right;
}

/***********************/
/*The switch-the box around the slider*/
.panel label.switch {
  margin: 0px;
  top: 1px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 14px;
  float: right;
}
label i.fas {
    font-size: 15px;
    margin: 0 6px 0 2px;
    position: relative;
}
i.fas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1f1e1f;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: var(--main-color);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  background-color: #fff;
}
.slider.round {
  border-radius: 14px;
}
.slider.round:before {
  border-radius: 50%;
}

.panel label {
    margin: 0 0 0.35em;
    display: inline-block;
}

.panel input {
	box-sizing: border-box;
	padding:.4em;
	margin:0 0 0.4em;
	border:none;
	display:block;
	width:100%;
  height: 23px;
	border-radius: var(--element-radius);
	background: var(--obs-field-background);
	color: #d2d2d2;
	font-size: 1em;
}
.panel input.disable{
	color: #828282;
	background: #333233;
}

::placeholder {
  color: #4a4a4a;
}

/***********************/
input#alt-1-name, input#alt-1-info,
input#alt-2-name, input#alt-2-info,
input#alt-3-name, input#alt-3-info,
input#alt-4-name, input#alt-4-info {
    float: left;
    width: calc(100% - 107px);
    margin-right: 0px;
    border-radius: 2px 0 0 2px;
}
#alt-1-name-appearance, #alt-1-info-appearance,
#alt-2-name-appearance, #alt-2-info-appearance,
#alt-3-name-appearance, #alt-3-info-appearance,
#alt-4-name-appearance, #alt-4-info-appearance {
    float: right;
    background-color: #1f1e1f;
    border-radius: 0 2px 2px 0;
    padding: 0 0 0 5px;
    height: 23px;
    width: 102px;
}
#alt-1-name-appearance.disable, #alt-1-info-appearance.disable,
#alt-2-name-appearance.disable, #alt-2-info-appearance.disable,
#alt-3-name-appearance.disable, #alt-3-info-appearance.disable,
#alt-4-name-appearance.disable, #alt-4-info-appearance.disable {
    background: #333233;
}
#alt-1-name-appearance > .config-btn > .icon-btn > i.fas,
#alt-1-info-appearance > .config-btn > .icon-btn > i.fas,
#alt-2-name-appearance > .config-btn > .icon-btn > i.fas,
#alt-2-info-appearance > .config-btn > .icon-btn > i.fas,
#alt-3-name-appearance > .config-btn > .icon-btn > i.fas,
#alt-3-info-appearance > .config-btn > .icon-btn > i.fas,
#alt-4-name-appearance > .config-btn > .icon-btn > i.fas,
#alt-4-info-appearance > .config-btn > .icon-btn > i.fas {
    font-size: 13px;
    margin: 5px;
}
.textfields-container > div > label:first-child > span > i.fas {
  transform: translate(0.35em, 0em);
}
#alt-1-style-color-appearance,
#alt-2-style-color-appearance,
#alt-3-style-color-appearance,
#alt-4-style-color-appearance {
    background-color: #1f1e1f;
    border-radius: 2px;
    padding: 0 0 0 5px;
    height: 23px;
    width: 210px;
    display: inline-flex;
    justify-content: flex-end;
}
.tool-tittle {
    line-height: 1.5em;
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 4px;
    cursor: default;
}
#alt-1-style-color-1 + .tool-tittle,
#alt-2-style-color-1 + .tool-tittle,
#alt-3-style-color-1 + .tool-tittle,
#alt-4-style-color-1 + .tool-tittle {
    margin-left: 10px;
}
	
.panel button{
	background: var(--obs-button-background);
	border: 1px solid var(--obs-button-border);
	color: var(--obs-button-color);
	padding:.75em;
	margin:0 0 1em;
	text-align:center;
	width:100%;
}

.panel button.onethird{
	width:30%;
	float:left;
	margin-right:2%;
	font-size: 1em;
}

.panel button:hover{
	background: var(--obs-button-hover-background);
	border-color: var(--obs-button-hover-border);
}
.panel button:active{
	background: var(--obs-button-active-background);
}

.panel .radio-position{float: right;text-align:center}

.panel .radio-position input{
	width: 2em;
	height:2em;
	display:inline-block
}

.panel .radio-position input:checked{
	background:red
}
	
.panel ul#predefined {
    list-style: none;
    padding: 0;
}

.panel ul#predefined li .name, ul#predefined li .function {
    display: inline-block;
}	

.panel ul#predefined li {
    padding: .5em 1em;
    border: 1px solid #555;
    margin: 0 0 .25em;
    text-align: center;
    cursor: pointer;
}

.panel ul#predefined li .function:before{ content: "\00a0(";}
.panel ul#predefined li .function:after{ content: ")";}



input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
  width: 80px;
}
.number-input + .input-no-icon {
    margin-left: 0px;
}
.number-input,
.number-input * {
  box-sizing: border-box;
}
.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  height: 11px;
  padding: 5px 8px;
  cursor: pointer;
  margin: 0;
  position: relative;
  bottom: -12px;
  border-radius: 3px;
}
.number-input button.down {
    order: 2;
}
.number-input button.up {
    order: 3;
    left: -16px;
    bottom: 0px;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.4rem;
  height: 2px;
  background-color: #d2d2d2;
  transform: translate(-75%, -50%) rotate(-45deg);
}
.number-input button.up:after {
  transform: translate(-25%, -50%) rotate(45deg);
}
.number-input button.down:before {
  transform: translate(-75%, -50%) rotate(45deg);
}
.number-input button.down:after {
  transform: translate(-25%, -50%) rotate(-45deg);
}

.number-input input[type=number] {
  order: 1;
  text-align: center;
  width: 40px;
  margin: 0 1px;
}
.number-input input[type="number"]:disabled {
  color: #828282;
  background: #333233;

}
.number-input input[type="number"]:disabled + button,
.number-input input[type="number"]:disabled + button + button {
    background: #333233;
    pointer-events: none;
}
.number-input input[type="number"]:disabled + button + button + .input-icon {
    color: #666;
}

.input-icon {
  order: 0;
  display: inline-flex;
}
.input-icon > .fas {
    font-size: 15px;
    margin: 4px;
}
.input-no-icon {
    width: 58px;
    margin-left: -15px;
    transform: translateY(-1px);
}

label.config-btn {
    width: 20px;
    height: 20px;
}
.config-btn input {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
.icon-btn {
  color: #666666;
}
.icon-btn > .fas {
  font-size: 15px;
  margin: 4px;
  top: 0px;
  cursor: pointer;
}
.icon-btn p {
    display: table;
    font-size: 1.2em;
    font-weight: 600;
    position: relative;
    margin: 0px;
    padding: 0px;
    transform: translate(0.25em, -0.8em);
    line-height: 0;
    cursor: pointer;
}
input:checked + .icon-btn {
  color: var(--main-color);
}
input:disabled + .icon-btn {
    color: var(--obs-field-background);
    pointer-events: none;
}


.align-toggle {
  display: inline-flex;
}
.align-toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  display: inline-block;
}
.align-toggle input + label {
  margin: 0;
  padding: 4px;
  width: 15px;
  float:left;
  color: #666666;
  cursor: pointer;
}
.align-toggle input:checked + label {
  color: #ffffff;
}
.align-toggle input:disabled + label {
    color: var(--obs-field-background);
    pointer-events: none;
}

select {
  padding: 0.4em;
  font-size: 1em;
  border: 0px;
  border-radius: 3px;
  height: 23px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: linear-gradient(#1f1e1f, #1f1e1f),
                    linear-gradient(-135deg, transparent 50%, #1f1e1f 50%),
                    linear-gradient(-225deg, transparent 50%, #1f1e1f 50%),
                    linear-gradient(#1f1e1f 42%, #d2d2d2 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 24px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;
  background-color: #1f1e1f;
  color: #d2d2d2;
}
select#alt-1-font,
select#alt-2-font,
select#alt-3-font,
select#alt-4-font {
    width: 120px;
    top: -1px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px 4px;
}
.grid-row-1,
.grid-row-2,
.grid-row-3 {
  display: inline-flex;
  justify-content: space-between;
  height: 24px;
}
.grid-row-3 {
  margin-bottom: 4px;
}
.grid-container * { 
 position: relative;
}
.margin-config.group {
    min-width: 140px;
}
.font-config.group {
    min-width: 143px;
}



/*********************************
**           PREVIEW            **
*********************************/

#alt-preview {
  position: fixed;
  bottom: 0px;
  height: 223px;
  width: 360px;
  padding: 5px;
  margin: 15px 0px 5px;
  border: none;
  border-radius: 3px;
  background: #3a393a;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 40%);
  transition: bottom 0.5s;
  /*background: #1f1e1f;*/
}
#alt-preview.hide {
  bottom: -213px;
}

#toggle-preview {
  position: absolute;
  right: 12px;
  top: 3px;
  cursor: pointer;
}

#toggle-preview.hide i.fas{
    transform: rotate(-180deg);
}

.embed-container iframe {
  height: 203px;
  width: 360px;
  border-radius: 3px;
  /*background: #1f1e1f;*/
  background: linear-gradient(135deg, rgba(31,30,31,1) 0%,
                                      rgba(31,30,31,1) 8%,
                                      rgba(29,28,29,1) 10%,
                                      rgba(29,28,29,1) 18%, 
                                      rgba(31,30,31,1) 20%, 
                                      rgba(31,30,31,1) 28%, 
                                      rgba(29,28,29,1) 30%, 
                                      rgba(29,28,29,1) 38%, 
                                      rgba(31,30,31,1) 40%, 
                                      rgba(31,30,31,1) 48%, 
                                      rgba(29,28,29,1) 50%, 
                                      rgba(29,28,29,1) 58%, 
                                      rgba(31,30,31,1) 60%,
                                      rgba(31,30,31,1) 68%, 
                                      rgba(29,28,29,1) 70%, 
                                      rgba(29,28,29,1) 78%, 
                                      rgba(31,30,31,1) 80%, 
                                      rgba(31,30,31,1) 88%, 
                                      rgba(29,28,29,1) 90%, 
                                      rgba(29,28,29,1) 98%, 
                                      rgba(31,30,31,1) 100%);
  box-shadow: inset 0px 0px 30px 10px rgb(29 28 29 / 100%);
}




#alt-main-config-content > .accordion {
    width: calc(100% - 30px);
}
.config-btn.preview-btn {
  float: right;
  margin: 0px 3px;
  width: 16px;
  height: 16px;
}
.config-btn.preview-btn > .icon-btn > i.fas {
  margin: 0px;
  font-size: 13px;
}


.sortees {
  background: var(--obs-background);

}

.renameable {
  display: inline-block;
  min-width: 268px;
  position: relative;
  /*top: -4px;*/
  top: 4px;
}
.renameable input {
  display: inline-block;
  background: none;
  margin: 0;
  padding: 0;
  height: 14px;
}

i.alt-icon {
  font-size: 15px;
  /*margin: 0 6px 0 2px;*/
  margin: 0 6px 0 7px;
  position: relative;
  height: 10px;
  overflow: hidden;
  /*top: -3px;*/
  top: 5px;
}

.drag-handle {
    position: absolute;
    transform: translate(-5px, -5px);
    height: 25px;
    /*width: 298px;*/
    /*background-color: #ffff0047;*/
}