<!DOCTYPE html>
<html lang="en">
	<head>
		<!--Animated Lower Thirds v1.6-->
		<!--Author: NoeAL-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>Lower Thirds Control Panel</title>
		<link rel="stylesheet" href="../common/css/style-control_panel.css">
		<link rel="stylesheet" href="../common/css/cp-icons.css">
		<script src="../common/js/vue.js"></script>
		<script>
			let hotKeys;
			const DEFAULT_LOGOS = Array.from({length: 10}, () => '../logos/logo.png');
			const THEME_OPTIONS = ['acri', 'dark', 'rachni'];
			const DEFAULT_FONTS = {
				'sans-serif': ['Open Sans', 'Poppins', 'Raleway'],
				'monospace': ['Anonymous Pro'],
				'cursive': ['Patua One', 'Cookie', 'Oleo Script', 'Kalam', 'Fredoka One'],
				'serif': ['Lora'],
			};
			const TOOLTIP = {
				"animation-time" : "Length of the in and out animation (sec)",
				"active-time" : "How long the LT is active (sec)",
				"inactive-time" : "How long the LT is inactive (sec)" ,
				"lock-active" : "Lock the active state: Always active",
				"one-shot" : "One-shot: Turns off the LT Switch when it goes into inactive state.",
				"enable-preview" : "Show/hide the LT in the preview window",
				"align-left" : "Left alignment",
				"align-center" : "Center alignment",
				"align-right" : "Right alignment",
				"style" : "Style: Changes the look of the LT",
				"size" : "Size of the LT",
				"margin" : "Horizontal and vertical margin",
				"line-height" : "Ratio between the size of the texts",
				"line-spacing" : "Space between texts",					
				"font" : "LT Text font",
				"logo" : "Show/hide the logo image",
				"logo-size" : "Size of the logo image",
				"shadows" : "Show/hide shadows",
				"shadow-opacity" : "Shadows opacity",
				"fill-colors" : "Enable/disable fill or background colors",
				"corners" : "Round corners",
				"borders" : "Enable/disable borders",
				"border-thickness" : "Border thickness",
				"uppercase" : "Enable/disable uppercase",
				"bold" : "Enable/disable bold",
				"italic" : "Enable/disable italic",
				"clean" : "Clear the text fields and set the logo to default",
				"autotrigger" : "Autotrigger: Turns on the switch automatically when a slot memory is loaded",
				"autoload" : "Autoload: Loads automatically the next memory slot every time it goes to the inactive state. Ready to display in the next cycle",
				"custom-times" : "Show/hide custom time settings",
				"toggle-preview" : "Show/hide preview window",
				"fonts-options" : "Add fonts from Google Fonts",
				"default-logos" : "Change the default logos of each LT.<br>Make sure to copy the logo files into the logos folder.<br>You can use JPG, PNG, TIFF, GIF, etc.<br>With transparency or animated",
			};

			const JSCOLOR_CONFIG = {
				width: 100,
				padding: 5,
				borderRadius: 3,
				borderWidth: 0,
				controlBorderWidth: 0,
				backgroundColor: '#1f1e1f',
				position: 'right',
				shadow: true,
				previewSize: 60
			};
			
			const { createApp, ref, reactive, computed, watch } = Vue;
		</script>
		<script src="utils.js"></script>
		<script src="./modules/main_settings.js"></script>
		<script src="./modules/image_selector.js"></script>
		<script src="./modules/lower_third.js"></script>
		<script src="./modules/app.js"></script>
		<script src="../common/js/jquery.js"></script>
		<script src="../common/js/jscolor.js"></script>
		<script src="../common/js/hotkeys.js"></script>
		<script src="../common/js/jquery-ui.js"></script>
	</head>
	<body class="lower-thirds-panel panel">
		<div id="alt-panel" class="static-panel-top" style="margin-bottom: 0px"></div>

		<template id="app-template">
			<main-settings ref="mainSettings"
						   @switch-changed="checkSwitches"
						   @appearance-changed="checkAppearance"
						   @open-logo="openLogo"
						   @fonts-changed="updateFonts"
						   @send-font="sendFont"></main-settings>

			<div id="lt-btns">
				<div class="btn icon icon-minus icon-btn" @click="removeLT" v-if="lts.value.length > 1"></div>
				<div class="btn icon icon-plus icon-btn" @click="addLT" v-if="lts.value.length < 10"></div>
			</div>
			
			<div id="sortable">
				<lower-third v-for="index in lts.value"
							 class="sortees"
							 :id="`alt-${index}`"
							 :key="index"
							 :index="index"
							 :fonts="fonts"
							 ref="lt"
							 @switch-changed="checkSwitches"
							 @open-logo="openLogo"
							 @reset-logo="checkLogos"
							 @style-changed="sendStyleUpdate"
							 @slot-changed="sendSlotUpdate"></lower-third>
			</div>

			<image-selector ref="imageSelector" @default-changed="checkLogos" @logo-changed="updateIsDefault"></image-selector>

			<div id="export-data" class="center hide" >
				<div class="export-data-bg" onclick="okExportPopup()"></div>
				<div class="form-input">
					<div>
						<h1>Copied to clipboard</h1>
						<p>For security reasons, the exported data has been copied to the clipboard. Please paste it into a text editor (e.g. Notepad) and save it as a TXT file.</p>
						<p>If you prefer, you can copy it manually:</p>
						<textarea id="dataInput" rows="4" cols="50" onclick="this.focus();this.select()"></textarea>
					</div>
					<div class="export-btns">
						<div class="btn-ok-export" onclick="okExportPopup()">Ok</div>
					</div>
				</div>
			</div>

			<div id="reset-all" class="center hide" >
				<div class="reset-all-bg" onclick="cancelResetPopup()"></div>
				<div class="form-input">
					<div>
						<h1>Reset all settings</h1>
						<p>You are going to reset all configuration and memory slots. Are you sure?</p>
					</div>
					<div class="reset-btns">
						<div class="btn-ok-reset" onclick="okResetPopup()">Ok</div>
						<div class="btn-cancel" onclick="cancelResetPopup()">Cancel</div>
					</div>
				</div>
			</div>

			<div id='fileNames'></div>

			<div id="alt-preview" :class="{active: previewCollapsed}" v-show="enabledPreview">
				<label>
					<div class="icon icon-search"></div>
				</label>
				<div id="toggle-preview" :class="{active: previewCollapsed}" @click="previewCollapsed = !previewCollapsed">
					<div class="icon icon-chevron-down"></div>
				</div>
				<div class="embed-container">
					<iframe id="myiframe" src="./browser-source.html?mode=preview" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</template>

		<template id="main-settings-template">
			<div id="alt-main-config-content">
				<div :class="{active: active.value}">
					<label class="switch" :class="{'switch-left': switchesLeft.value}">
						<input id="alt-master-switch" type="checkbox" @change="$emit('switchChanged');" v-model="active.value"> <!--"checked" to active switch-->
						<span class="slider round"></span>
					</label>
					
					<div class="main-title" :class="{'switch-left': switchesLeft.value}">
						<div class="main-icon icon icon-settings"></div>
						<div>Main settings</div>					
					</div>
					
					<label class="accordion" :class="{active: !accordionCollapsed}" @click="toggleAccordion"></label>
					<div id="global-configuration" class="hidable" :style="{'max-height': maxHeight}">
						<div id="time-options">
							<div class="settings-title">Global Times</div>
							<div class="settings-inputs">
								<input id="alt-animation-time" type="number" placeholder="in-out" tabindex="1" v-model="animationTime.value">
								<input id="alt-active-time" type="number" placeholder="active"  tabindex="2" v-model="activeTime.value" :disabled="lockActive.value">
								<label class="config-btn lock-input">
									<input type="checkbox" id="alt-lock-active" v-model="lockActive.value">
									<div class="icon-btn icon icon-lock"></div>
								</label>
								<input class="storable" id="alt-inactive-time" type="number" placeholder="inactive" tabindex="3" v-model="inactiveTime.value" :disabled="oneShot.value">
								<label class="config-btn lock-input">
									<input type="checkbox" id="alt-one-shot" v-model="oneShot.value">
									<div class="icon-btn icon icon-oneshot"></div>
								</label>
							</div>
						</div>
						
						<label class="more" :class="{active: !showMoreCollapsed}" @click="toggleMore"><div class="icon icon-angle-down"></div></label>
						<div id="more-configuration">
							<div class="tab">
								<button id="defaultTab" class="tablinks" @click="changeTab('appearance')" :class="{active: activeTab == 'appearance'}">Appearance</button>
								<button class="tablinks" @click="changeTab('customs')" :class="{active: activeTab == 'customs'}">Customs</button>
								<button class="tablinks" @click="changeTab('system')" :class="{active: activeTab == 'system'}">System</button>
							</div>
							
							<!-- Tab content -->
							<div id="tab-appearance" class="tabcontent" v-show="activeTab == 'appearance'">
								<div id="theme-options">
									<div class="settings-title">Theme</div>
									<div class="settings-inputs">
										<select name="theme" id="theme" @change="changeTheme">
											<option v-for="theme in themeOptions" :name="theme" :value="theme" :selected="theme == activeTheme.value">{{theme}}</option>
										</select>
									</div>
								</div>
								<div class="default-options">
									<div class="settings-title"></div>
									<div class="settings-inputs">
										<label><input type="checkbox" v-model="enabledPreview.value" @change="$emit('appearanceChanged')">Enable preview window</label>
										<label><input type="checkbox" v-model="hiddenSlotNumbers.value" @change="$emit('appearanceChanged')">Hide numbers of the memory slots</label>
										<label><input type="checkbox" v-model="switchesLeft.value" @change="$emit('appearanceChanged')">Switches on the left</label>
										<label><input type="checkbox" v-model="enabledTooltips.value" @change="$emit('appearanceChanged')">Show tooltips with the stored content</label>
									</div>
								</div>
							</div>
	
							<div id="tab-customs" class="tabcontent" v-show="activeTab == 'customs'">
								<div id="fonts-options">
									<div class="settings-title">Custom Font</div>
									<div class="settings-inputs">
										<input id="new-font-name" v-model="customFontFamily" placeholder="Font Family" tabindex="51">
										<input id="new-font-url" v-model="customFontUrl" placeholder="@import url" tabindex="52">
										<div id="add-new-font" class="add" @click="addFont()"><div class="icon icon-plus-square"></div></div>
									</div>
								</div>
								<div id="custom-font-list">
									<ul>
										<li v-for="(customFont, index) in customFonts.value">
											<div class="font-name-added" :id="'font-name-added-' + index">{{customFont.name}}</div>
											<div class="font-url-added" :id="'font-url-added-' + index">{{customFont.url}}</div>
											<div class="delete-font" @click="delFont(customFont)"><div class="icon icon-trash"></div></div>
										</li>
									</ul>
								</div>
								<div class="logos-options">
									<div class="settings-title">Default Logos</div>
									<div class="settings-inputs">
										<div :id="`alt-${id}-default-logos`" v-for="(logoSrc, id) in defaultLogos.value" class="logo-container default" @click="openLogo(id)">
											<div class="logo-numbers">{{id + 1}}</div>
											<img class="logo-default" :src="logoSrc">
										</div>
									</div>
								</div>
							</div>
	
							<div id="tab-system" class="tabcontent" v-show="activeTab == 'system'">
								<div class="bottom-options">
									<div class="settings-title">Backup Data</div>
									<div class="settings-inputs">
										<div class="import-file-btn">
											<label for="importFile">Import</label>
											<input id="importFile" type="file"/>
										</div>
										<!-- <input type="text" id="dataInput"> -->
										<div class="btn-settings" onclick="exportData()">Export</div>
										<div class="btn-settings" onclick="openResetPopup()">Reset</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>

		<template id="lt-template">
			<div>
				<div :id="`alt-${index}-config-content`">
					<div :class="{active: active, inactive: inactive}">
						<label class="switch" :class="{'switch-left': switchLeft}">
							<input type="checkbox" @change="$emit('switchChanged')" v-model="switchOn">
							<span class="slider round"></span>
						</label>
						<label :id="`alt-${index}-enable-preview`" class="config-btn preview-btn" v-show="enabledPreview">
							<input type="checkbox" @change="$emit('switchChanged')" :id="`alt-${index}-preview`" v-model="previewOn">
							<div class="icon-btn icon icon-search"></div>
						</label>
						<div class="drag-handle" :class="{'switch-left': switchLeft}">
							<div class="alt-number-icon">{{index + 1}}</div>
							<div class="renameable" v-show="!nameIsEditable" @click="nameClickHandler()">{{title.value}}</div>
							<div class="settings-inputs">
								<input type='text' v-model="title.value" maxlength='40' v-show="nameIsEditable" @focusout="nameIsEditable = false">
							</div>
						</div>
						<label class="accordion" @click="toggleStyleSettings()" :class="{active: showStyleSettings}"></label>
						<div :id="`style-settings-${index}`" class="hidable">
							<div class="grid-container">
								<div class="grid-row">
									<div>
										<div class="align-toggle">
										<input type="radio" :checked="align.value == 'left'"/>
										<label :id="`alt-${index}-align-left`" @click="align.value = 'left'; $emit('styleChanged');"><div class="icon icon-aling-left"></div></label>
										<input type="radio" :checked="align.value == 'center'" :disabled="style.value == 1"/>
										<label :id="`alt-${index}-align-center`" @click="align.value = 'center'; $emit('styleChanged');"><div class="icon icon-aling-center"></div></label>
										<input type="radio" :checked="align.value == 'right'"/>
										<label :id="`alt-${index}-align-right`" @click="align.value = 'right'; $emit('styleChanged');"><div class="icon icon-aling-right"></div></label>
									</div>
									</div>
									<div>
										<div class="input-icon icon icon-paint-brush"></div>
										<div class="number-input">
											<input :id="`alt-${index}-style`" min="1" max="3" v-model="style.value" type="number" readonly>
											<button @click="stepDown(style, 1); restrictStyles(); $emit('styleChanged');" class="down"></button>
											<button @click="stepUp(style, 3); restrictStyles(); $emit('styleChanged');" class="up"></button>
										</div>
									</div>
									<div>
										<div class="input-icon icon icon-size"></div>
										<div class="number-input">
											<input :id="`alt-${index}-size`" min="10" max="50" v-model="size.value" type="number">
											<button @click="stepDown(size, 10)" class="down"></button>
											<button @click="stepUp(size, 50)" class="up"></button>
										</div>
									</div>							
									<div :id="`alt-${index}-margin`" class="margin-config group">
										<div class="input-icon icon icon-position"></div>
										<div class="number-input">
											<input :id="`alt-${index}-margin-h`" min="0" max="100" v-model="marginH.value" type="number">
											<button @click="stepDown(marginH, 0)" class="down"></button>
											<button @click="stepUp(marginH, 100)" class="up"></button>
										</div>
										<div class="number-input input-no-icon">
											<input :id="`alt-${index}-margin-v`" min="0" max="55" v-model="marginV.value" type="number">
											<button @click="stepDown(marginV, 0)" class="down"></button>
											<button @click="stepUp(marginV, 55)" class="up"></button>
										</div>
									</div>
								</div>
								<div class="grid-row">
									<div :id="`alt-${index}-line-height`">
										<div class="input-icon icon icon-text-height"></div>
											<div class="number-input">
											<input :id="`alt-${index}-inverse-ratio`" min="0" max="10" v-model="inverseRatio.value" type="number">
											<button @click="stepDown(inverseRatio, 0)" class="down"></button>
											<button @click="stepUp(inverseRatio, 10)" class="up"></button>
										</div>
									</div>
									<div :id="`alt-${index}-line-spacing`">
										<div class="input-icon icon icon-line-spacing"></div>
											<div class="number-input">
											<input min="-5" max="5" v-model="lineSpacing.value" type="number">
											<button @click="stepDown(lineSpacing, -5)" class="down"></button>
											<button @click="stepUp(lineSpacing, 5)" class="up"></button>
										</div>
									</div>									
									<div class="font-config group">
										<div class="input-icon icon icon-font"></div>
										<select :id="`alt-${index}-font`" v-model="font.value" @change="$emit('styleChanged');">
											<optgroup v-for="(fonts, fontgroup) in fonts" :label="fontgroup">
												<option v-if="fontgroup != 'custom'" v-for="font in fonts" :value="`${font}, ${fontgroup}`">{{font}}</option>
												<option v-else v-for="font in fonts" :value="`${font}`">{{font}}</option>
											</optgroup>
										</select>
									</div>
								</div>
								<div class="grid-row">
									<div>
										<label class="config-btn" :id="`alt-${index}-logo`">
											<input type="checkbox" v-model="enabledLogo.value" :disabled="style.value == 2" @change="$emit('styleChanged');">
											<div class="icon-btn icon icon-image"></div>
										</label>									
										<div class="number-input" :id="`alt-${index}-logo-size`">
											<input :id="`alt-${index}-logo-size`" min="-10" max="10" v-model="logoSize.value" type="number" :disabled="!enabledLogo.value || style.value == 2">
											<button @click="stepDown(logoSize, -10)" class="down" :disabled="!enabledLogo.value"></button>
											<button @click="stepUp(logoSize, 10)" class="up" :disabled="!enabledLogo.value"></button>
										</div>
									</div>
									<div>
										<label class="config-btn" :id="`alt-${index}-shadows`">
											<input type="checkbox" v-model="shadows.value" @change="$emit('styleChanged');">
											<div class="icon-btn icon icon-shadow"></div>
										</label>
										<div class="number-input" :id="`alt-${index}-shadow-opacity`">
											<input :id="`alt-${index}-shadow-amount`" min="1" max="10" v-model="shadowAmount.value" type="number" :disabled="!shadows.value">
											<button @click="stepDown(shadowAmount, 1)" class="down" :disabled="!shadows.value"></button>
											<button @click="stepUp(shadowAmount, 10)" class="up" :disabled="!shadows.value"></button>
										</div>
									</div>
									<div>
										<label class="config-btn" :id="`alt-${index}-fill-colors`">
											<input type="checkbox" v-model="background.value" @change="$emit('styleChanged');">
											<div class="icon-btn icon icon-fill-drip"></div>
										</label>
										<div class="fill-color-appearance">
										<!-- <div :id="`alt-${index}-style-color-appearance`" class="fill-color-appearance"> -->
											<div class="tool-title" :class="{disabled: !background.value}">Clr 1</div>
											<input :id="`alt-${index}-style-color-1`" v-model="backgroundColor1.value" @change="$emit('styleChanged');" :data-jscolor="JSON.stringify(jscolorConfig)" :disabled="!background.value">
											<div class="tool-title" :class="{disabled: !background.value}">Clr 2</div>
											<input :id="`alt-${index}-style-color-2`" v-model="backgroundColor2.value" @change="$emit('styleChanged');" :data-jscolor="JSON.stringify(jscolorConfig)" :disabled="!background.value">
										</div>
									</div>
								</div>
								<div class="grid-row">
									<div :id="`alt-${index}-corners`">
										<div class="input-icon icon icon-corner"></div>
										<div class="number-input">
											<input :id="`alt-${index}-corners`" min="0" max="10" v-model="corners.value" type="number">
											<button @click="stepDown(corners, 0)" class="down"></button>
											<button @click="stepUp(corners, 10)" class="up"></button>
										</div>
									</div>
									<div :id="`alt-${index}-border-thickness`">
										<label class="config-btn">
											<input type="checkbox" :id="`alt-${index}-border-thickness`" v-model="borders.value" @change="$emit('styleChanged');">
											<div class="icon-btn icon icon-thickness"></div>
										</label>
										<div class="number-input">
											<input min="1" max="10" v-model="borderThickness.value" type="number" :disabled="!borders.value">
											<button @click="stepDown(borderThickness, 1)" class="down" :disabled="!borders.value"></button>
											<button @click="stepUp(borderThickness, 10)" class="up" :disabled="!borders.value"></button>
										</div>
									</div>
									<div :id="`alt-${index}-borders`">
										<label class="config-btn">
											<input type="checkbox" v-model="borders.value" @change="$emit('styleChanged');">
											<div class="icon-btn icon icon-pen"></div>
										</label>
										<!-- <div :id="`alt-${index}-style-border-color-appearance`" class="border-color-appearance"> -->
										<div class="border-color-appearance">
											<div class="tool-title" :class="{disabled: !borders.value}">Clr 3</div>
											<input :id="`alt-${index}-style-color-3`" v-model="bordersColor1.value" @change="$emit('styleChanged');" :data-jscolor="JSON.stringify(jscolorConfig)" :disabled="!borders.value">
											<div class="tool-title" :class="{disabled: !borders.value}">Clr 4</div>
											<input :id="`alt-${index}-style-color-4`" v-model="bordersColor2.value" @change="$emit('styleChanged');" :data-jscolor="JSON.stringify(jscolorConfig)" :disabled="!borders.value">
										</div>
									</div>
								</div>
							</div>					
						</div>
						<div class="first-edit-container">
							<div class ="logo-container" @click="openLogo()" v-show="enabledLogo.value && style.value !== 2">
								<img class="logo-preview" :src="resolvedLogoSrc">
							</div>
							<div class="textfields-container">
								<input type="text" :id="`alt-${index}-name`" placeholder="Name" tabindex="4" v-model="name.value">
								<div :id="`alt-${index}-name-appearance`">
									<label :id="`alt-${index}-name-uppercase`" class="config-btn small">
										<input type="checkbox" v-model="nameTransform.value">
										<div class="icon-btn icon small icon-uppercase"></div>
									</label>
									<label :id="`alt-${index}-name-bold`" class="config-btn small">
										<input type="checkbox" v-model="nameBold.value">
										<div class="icon-btn icon small icon-bold"></div>
									</label>
									<label :id="`alt-${index}-name-italic`" class="config-btn small">
										<input type="checkbox" v-model="nameItalic.value" @change="$emit('styleChanged');">
										<div class="icon-btn icon small icon-italic"></div>
									</label>
									<input :id="`alt-${index}-name-color`" :data-jscolor="JSON.stringify(jscolorConfig)" v-model="nameColor.value" @change="$emit('styleChanged');">
								</div>
								<input type="text" :id="`alt-${index}-info`" placeholder="Info" tabindex="4" v-model="info.value" @change="$emit('styleChanged');">
								<div :id="`alt-${index}-info-appearance`">
									<label :id="`alt-${index}-info-uppercase`" class="config-btn small">
										<input type="checkbox" v-model="infoTransform.value" @change="$emit('styleChanged');">
										<div class="icon-btn icon small icon-uppercase"></div>
									</label>
									<label :id="`alt-${index}-info-bold`" class="config-btn small">
										<input type="checkbox" v-model="infoBold.value" @change="$emit('styleChanged');">
										<div class="icon-btn icon small icon-bold"></div>
									</label>
									<label :id="`alt-${index}-info-italic`" class="config-btn small">
										<input type="checkbox" v-model="infoItalic.value" @change="$emit('styleChanged');">
										<div class="icon-btn icon small icon-italic"></div>
									</label>
									<input :id="`alt-${index}-info-color`" :data-jscolor="JSON.stringify(jscolorConfig)" v-model="infoColor.value" @change="$emit('styleChanged');">
								</div>
								<div style="clear: both"></div>
							</div>
						</div>
						<div class="panel-bottom">
							<div :id="`alt-${index}-clean`" class="clean" @click="clearInputs"><div class="icon icon-cross"></div></div>
							<ul>
								<li v-for="(name, index) in slotNames.value"
									:class="{delete: slotIsDelete[index], 'active-slot': slotIndex.value == index, stored: slotIsStored(index)}"
									@mouseDown="slotHandlerDown(index)"
									@mouseUp="slotHandlerUp(index)"
									:title="slotTooltips[index]">
									<div class="slot-number" v-if="!hiddenSlotNumbers">{{index + 1}}</div>
								</li>
							</ul>
							<div class="time-bar">
								<div>{{activeTimeMonitor}}</div>
								<div>{{inactiveTimeMonitor}}</div>
							</div>
							<label class="config-btn" :id="`alt-${index}-autotrigger`">
								<input type="checkbox" v-model="autoTrigger.value">
								<div class="icon-btn icon icon-autotrigger"></div>
							</label>
							<label :id="`alt-${index}-autoload`" class="config-btn">
								<input type="checkbox" v-model="autoLoad.value">
								<div class="icon-btn icon icon-sync"></div>
							</label>
							<label :id="`alt-${index}-custom-times`" class="accordion" @click="toggleTimeSettings()" :class="{active: customTimeSettings.value}">
								<div class="icon-btn icon icon-clock"></div>
							</label>
							<div :id="`time-settings-${index}`" class="hidable" :class="{active: customTimeSettings.value}">
								<div class="alt-time-options">
									<div class="settings-title">LT{{index + 1}} Times</div>
									<div class="settings-inputs">
										<input type="number" placeholder="in-out" tabindex="12" v-model="animationTime.value" @change="$emit('styleChanged');">
										<input type="number" placeholder="active" tabindex="13" v-model="activeTime.value" :disabled="lockActive.value" @change="$emit('styleChanged');">
										<label class="config-btn lock-input">
											<input type="checkbox" :id="`alt-${index}-lock-active`" v-model="lockActive.value" @change="$emit('styleChanged');">
											<div class="icon-btn icon icon-lock"></div>
										</label>
										<input :id="`alt-${index}-inactive-time`" type="number" placeholder="inactive" tabindex="14" v-model="inactiveTime.value" :disabled="oneShot.value" @change="$emit('styleChanged');">
										<label class="config-btn lock-input">
											<input type="checkbox" :id="`alt-${index}-oneshot`" v-model="oneShot.value" @change="$emit('styleChanged');">
											<div class="icon-btn icon icon-oneshot"></div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>

		<template id="image-selector-template">
			<div style="position: fixed">
				<div id="select-image" class="center" v-show="active">
					<div class="select-image-bg" @click="active = false"></div>
					<div class="form-input">
						<div class="file-btns">
							<label for="logo-file">Choose image</label>
							<input type="file" id="logo-file" accept="image/*" @change="showPreview">
							<div class="btn-remove" @click="removeLogo()" v-show="!isDefault"><div class="icon-btn icon icon-trash"></div></div>
						</div>
						<div id="file-preview" :class="{'no-image': !previewSrc}">
							<img :src="previewSrc" style="display: block" v-show="!!previewSrc">
						</div>
						<div class="file-btns">
							<div class="btn-ok" @click="ok()">Ok</div>
							<div class="btn-cancel" @click="active=false">Cancel</div>
						</div>
					</div>
				</div>
			</div>
		</template>

		<script>
			const app = createApp(App).mount('#alt-panel');

			// //Reload the hotjeys.js file updated by the LUA script
			setInterval(() => {
			    const lastChange = JSON.parse(JSON.stringify(hotKeys));

				setTimeout(() => {
					src = '../common/js/hotkeys.js';
					$('script[src="' + src + '"]').remove();
					var head= document.getElementsByTagName('head')[0];
					var script= document.createElement('script');
					script.src= src;
					head.appendChild(script);

					if (lastChange.change < hotKeys.change) {
						app.handleHotKeys(hotKeys);
					}
				}, 100);
			}, 100);

			function openResetPopup() {
				document.getElementById("reset-all").classList.remove("hide");
			}
			function okResetPopup() {
				localStorage.clear(); //To clear data fields

				location.reload();
			}

			function cancelResetPopup() {
				document.getElementById("reset-all").classList.add("hide");
			}

			//Export popup info
			function openExportPopup() {
				document.getElementById("export-data").classList.remove("hide");
			}
			function okExportPopup() {
				document.getElementById("export-data").classList.add("hide");
			}

			
			//Read txt file and call writeLocalStorage function
			document.getElementById('importFile').onchange = function(){
				var file = this.files[0];
				var reader = new FileReader();
				reader.onload = function(progressEvent) {
					localStorage.clear();

					let newConfig = this.result;

					// try migration
					if (this.result.includes("alt-1-logo-default")) {
						newConfig = JSON.stringify(migrate(JSON.parse(this.result)));
					}

					writeLocalStorage(newConfig);
				};
				reader.readAsText(file);
			};

			//Read all localstorage data
			function getLocalStorage() {
				const a = {};
				for (const i = 0; i < localStorage.length; i++) {
					const k = localStorage.key(i);
					if (k.startsWith("alt2-")) {
						a[k] = localStorage.getItem(k);
					}
				}
				return JSON.stringify(a);
			}

			//Save data to localStorage
			function writeLocalStorage(data) {
				var o = JSON.parse(data);
				for (var property in o) {
					if (o.hasOwnProperty(property)) {
						localStorage.setItem(property, JSON.stringify(o[property]));
					}
				}
				location.reload();
        	}

			function clearLocalStorage() {
				for (const i = 0; i < localStorage.length; i++) {
					const k = localStorage.key(i);
					if (k.startsWith("alt2-")) {
						localStorage.removeItem(k);
					}
				}
			}

			//Copy all data to clipboard
			function exportData() {
				var allData = getLocalStorage();
				document.getElementById("dataInput").value = allData;
				var copyText = document.getElementById("dataInput");

				//Open the Popup "Copied to Clipboard"
				openExportPopup();

				//Select text input and copy to the clipboard
				copyText.select();
				document.execCommand("copy");
        	}

		</script>

	</body>
</html>